---
import Layout from '../layouts/Layout.astro';
import RecentProjects from '../components/index/RecentProjects';
import SupportedProjects from '../components/index/SupportedProjects';
---

<Layout title="Rexx Digital Residence">
	<main>
		<RecentProjects />
		<SupportedProjects />
	</main>
</Layout>

